@charset "utf-8";

.tl-table {
	table-layout: fixed;
	word-break: break-word;
	width: 100%;
}

/* body {margin: 0;overflow-x: hidden;} */
.tl-table td {
	width: 50%;
	padding: 2px 0;
	/* padding-bottom: 10px; */
	border-top: 7px solid #aee;
}

.tl-table .tl-break td {
	border-top: 7px solid #eaa;
}

.tl-table * {
	font-family: monospace !important;
}

.tl-node {}

.tl-node button {
	border: 1px solid #ccc;
}

.tl-ru *,
.tl-en * {
	border: 1px solid #ccc;
}

.tl-en>*:not(.tl-en-file):not(.tl-en-link) {
	border-top: none;
}

.tl-en {
	display: grid;
	grid-template-areas:
		"file file link"
		"path path link"
		"desc desc desc"
		"text text text"
		"edit edit edit"
		"flag flag flag";
	grid-area: en;
	/* max-width: 40vw; */
	grid-template-columns: 1fr 1fr auto;
}

.tl-en-file {
	grid-area: file;
	font-size: 70%;
}

.tl-en-path {
	grid-area: path;
	font-size: 70%;
}

.tl-en-link {
	grid-area: link;
	/* font-size: 70%; */
	text-align: center;
	border-left: hidden;
	line-height: 2.3;
	padding: 0 0.5em;
	min-width: 3.8em;
}

.tl-en-state {
	grid-area: state;
}

.tl-en-desc {
	grid-area: desc;
	font-size: 90%;
}

.tl-en-text {
	grid-area: text;
	white-space: pre-wrap;
}

.tl-en-edit {
	grid-area: edit;
}

textarea.tl-en-edit {
	margin-right: calc(2.4em - 1px);
	background: transparent;
}

button.tl-en-edit {
	width: 2.4em;
	height: 1.5em;
	justify-self: end;
	align-self: start;
	padding: 0;
}

.tl-en-flags,
.tl-ru-flags {
	grid-area: flag;
	border: hidden;
	line-height: 0;
}

.tl-ru:not(.tl-ru-editing) .tl-ru-flags .tl-ru-flag:not(.tl-ru-flag-on) {
	display: none;
}

.tl-ru:not(.tl-ru-editing) .tl-ru-flags .tl-ru-flag.tl-ru-flag-on {
	opacity: 0.7;
}

.tl-en-flags .tl-en-flag,
.tl-ru-flags .tl-ru-flag {
	opacity: 0.7;
	line-height: 1.3;
	padding: 2px 3px;
	white-space: nowrap;
	margin: 2px 2px;
	display: inline-block;
	user-select: none;
	padding: 0 0.25em;
	margin: 0px 3px 0 0;
	border-top: hidden;
}

.tl-en-flags .tl-en-flag:hover,
.tl-ru-flags .tl-ru-flag:hover {
	opacity: 1;
}

.tl-en-flags .tl-en-flag.tl-en-flag-on,
.tl-ru-flags .tl-ru-flag.tl-ru-flag-on {
	opacity: 1;
	background-color: lightyellow;
	border-color: goldenrod;
}


.tl-rus.tl-no-rus {
	background: lightcoral;
	min-height: 200px;
}

.tl-ru {
	display: grid;
	grid-template:
		"text text text text text text"
		"flag flag flag flag flag flag"
		"user rate minus plus change remove";
	grid-template-columns: 2fr 1fr;
}

.tl-ru.tl-ru-gtable {
	opacity: 0.7;
	background: #ddd;
}

.tl-rus.tl-no-rus::before {
	content: "⟪Перевод отсутствует⟫";
}

.tl-ru.tl-created {
	background: lightgreen;
}

.tl-ru.tl-changed,
.tl-ru.tl-changed textarea,
.tl-ru.tl-ru-recovery.tl-ru-recovery-found {
	background: lightskyblue;
}

.tl-ru.tl-removed,
.tl-ru.tl-removed textarea,
.tl-ru.tl-ru-recovery.tl-ru-recovery-removed {
	background: bisque;
}

.tl-ru-text {
	grid-area: text;
	white-space: pre-wrap;
	/* border-bottom: 0px; */
	/* border-bottom-style: hidden; */
	/* margin-top: 2px; */
	/* padding: 0px 3px; */
}

.tl-ru:not(:nth-child(1)) .tl-ru-text {
	margin-top: 5px;
}

.tl-ru-user {
	grid-area: user;
	font-size: 90%;
}

.tl-ru-rate {
	grid-area: rate;
	font-size: 90%;
}

.tl-ru-rate.tl-ru-upvoted {
	background: lightgreen;
}

.tl-ru-change {
	grid-area: change;
}

button.tl-changed {
	background: aquamarine;
}

.tl-ru-remove {
	grid-area: remove;
}

button.tl-ru-remove.tl-removed {
	background: orangered;
}

.tl-ru-minus {
	grid-area: minus;
}

.tl-ru-plus {
	grid-area: plus;
}

div#find-container {
	padding: 5px;
	position: sticky;
	top: 0;
	background: white;
	z-index: 9999;

	display: grid;
	grid-template-areas:
		"file file count"
		"help help count"
		"en ru btn";
	grid-template-columns: 1fr 1fr auto;
}

#find-file,
#find-en,
#find-ru {
	vertical-align: middle;
}

textarea#find-file {
	grid-area: file;
}

textarea#find-en {
	grid-area: en;
}

textarea#find-ru {
	grid-area: ru;
}

textarea.auto_resize {
	align-self: start;
	overflow-y: hidden;
}

#find-btns {
	grid-area: btn;
}

span#find-count {
	grid-area: count;
}

#statPlot {
	margin: 20px;
}





/* Packy's style */


body.PackyStyle .tl-table {}

body.PackyStyle {
	/* margin: 0; */
	background-image: url('https://freeava.ucoz.ru/crosscode/4.jpg');
	/* background-repeat: no-repeat; */
	background-attachment: fixed;
	background-position: center;
	min-height: 100vh;
	padding: 0;
	background-size: cover;
}

body.PackyStyle .tl-table td {
	border-top: 7px solid #1093a7;
}

body.PackyStyle .tl-ru *,
body.PackyStyle .tl-en * {
	border-radius: 3px;
	background: rgba(222, 242, 243, 0.3);
	margin-left: 5px;
	margin-right: 3px;
	margin-bottom: 5px;
}

body.PackyStyle .tl-en {
	/* grid-template-areas:
		"text text text"
		"edit edit edit"
		"flag flag flag"
		"file file link"
		"path path path"
		"desc desc desc"; */
}

body.PackyStyle .tl-en-file,
body.PackyStyle .tl-en-path {
	font-size: 60%;
	background: rgba(255, 255, 255, 0);
	border: none;
	height: 1em;
	padding: 0px 3px;
	/* margin: 0; */
	/* line-height: 0; */
}

body.PackyStyle .tl-en-link {
	background: #def2f3;
	line-height: 2.2;
}

body.PackyStyle .tl-en-state {
	/*background: #589ba4;*/
}

body.PackyStyle .tl-en-desc {
	/*font-size: 60%;*/
	/*background: rgba(255, 255, 255, 0);*/
	/*border: none;*/
}

body.PackyStyle .tl-en-text {
	/*background: #def2f3;*/
}

body.PackyStyle .tl-en-edit {
	background: #35f11a54;
	align-self: stretch;
	height: auto;
}


body.PackyStyle .tl-en-flags {
	margin: 5px;
}


body.PackyStyle .tl-ru-user {
	/*margin-left: 3px;*/
}

body.PackyStyle .tl-ru-rate {
	/*text-align: center;*/
}

body.PackyStyle .tl-ru-rate.tl-ru-upvoted {
	/*text-align: center;*/
	/*border-style: solid;*/
	/*border-width: 1px;*/
	/*border-color: black;*/
}

body.PackyStyle .tl-ru-change {
	background-color: lightblue;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

body.PackyStyle button.tl-changed {
	background: #1ad3f1;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

body.PackyStyle .tl-ru-remove {
	background-color: pink;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

body.PackyStyle button.tl-ru-remove.tl-removed {
	background-color: red;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

body.PackyStyle .tl-ru-minus {
	background-color: lightgoldenrodyellow;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

body.PackyStyle .tl-ru-plus:not([disabled]) {
	background-color: lightgreen;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

body {
	margin: 0;
	padding: 0 10px;
}

body.PackyStyle button[disabled] {
	background: transparent
}

body.PackyStyle textarea.tl-en-edit {
	margin-right: calc(2em + 7px);
}

body.PackyStyle button.tl-en-edit {}

body.PackyStyle .tl-rus.tl-no-rus {
	background: rgba(233, 30, 99, 0.5);
}

body.PackyStyle div#find-container {
	background: rgba(188, 205, 231, 0.8);
}





.tl-en .tl-en-edit.tl-en-limits {
	grid-area: edit;
	justify-self: left;
	align-self: end;
	z-index: 1;
	border: none !important;
	font-size: 70%;
	/* padding: 0px 0.4em; */
	width: calc(100% - 3.2em);
	background: #eee;
	margin: 1px;
	/* line-height: 1.2; */
	position: relative;
	z-index: -1;
}

.tl-en .tl-en-edit.tl-en-limits .tl-en-limit-filler {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 90%;
	height: 100%;
	border: 0;
	background: lightgreen;
	opacity: 0.5;
	z-index: -1;
}

.tl-en-edit.tl-en-limits.tl-limits-high .tl-en-limit-filler {
	background: orange;
}

.tl-en-edit.tl-en-limits.tl-limits-overflow .tl-en-limit-filler {
	background: red;
}

.tl-en-edit.tl-en-limits .tl-en-limit {
	margin: 0 0.4em;
	border: none;
}